@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');


body{
    font-family: 'Alkalami', serif;
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: 0.4em 2em;
    margin-top: 20px;
    border-radius: 2.25em;
}

form{
    padding: 0 3em;
}

.title>span{
    font-size: .8em;
}

